<main class="notification-page">
    <div class="notification-container">
        <h1>Аккаунт пользователя {{username}} подтвержден</h1>
        <p>Ваш аккаунт успешно подтвержден! Теперь вы можете войти на сайт.</p>
        <a href="/user/auth/login" class="btn">Войти</a>
    </div>
</main>